.breadcome{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        background: #c2d9f5;
 
    .content{
        text-align: center;
       .back-link{
        a{

        }
        span{

        }
       } 
       h3{
        width: 68%;
        margin: auto;
        padding: 10px 0px;
        line-height: 28px;
        font-size: 27px;
       }
    }
}