.home {
  width: 100%;
  background-color: #ecf0f3;

  .hero {
    width: 70%;
    height: 90vh;
    display: flex;
    margin: auto;
    align-items: center;

    .hero-content {
      width: 60%;

      .hero-info { 
        h4 {
          color: #3c3e41;
          font-size: 16px;
          letter-spacing: 1px;
        }

        h1 {
          font-size: 60px;
          letter-spacing: 3px;
          margin: 10px 0px;

          span {
            color: #ff014f;
          }
        }

        p {
          width: 70%;
          color: #3c3e41;
          font-size: 19px;
          line-height: 33px;
        }

      }
      .hero-social {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        .social-link {
          h4 {
            color: #1e2125;
            font-size: 15px;
            letter-spacing: 1px;
          }

          ul {
            display: flex;
            padding-left: 0px;

            li {
              list-style: none;

              a {
                font-size: 21px;
                background: #fff;
                text-align: center;
                display: block;
                width: 30px;
                height: 30px;
                padding: 12px;
                margin: 5px;
                box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
                border-radius: 3px;
                line-height: 30px;
                &:hover{
                    background-color: #ff014f;
                    color: #fff;
                    transform: translate(0px, -5px);
                    transition: .5s;
                }
              }
            }
          }
        }
      }

    }

    .hero-image {
      width: 40%;

      .img-box {
        overflow: hidden;
        border: 20px solid #E3E9ED;
        border-radius: 5px;
        img {
        }
      }
    }
  }


 
  .featured-wraper{
    width: 70%;
    margin: auto;
    .featured-title{
        h4{

        }
        h1{

        }
    }
    .featured-item-box{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .item{
            width: 32.8%;
            background-color: #fff;
            padding: 40px;
            box-sizing: border-box;
            cursor: pointer;
            &:hover{
                transition: .5s;
                background-color: #F50542;
                
            }
            &:hover > span , h4 , p{
               
               color: #ecf0f3;
                transform: translate(0px, -5px);
            }
            &:hover > .arro-right{
              opacity: 1;
              color: #fff;
              transform: translate(0px, -5px);
            }
            span{
                color: #F50542;
                font-size: 30px;
            }
            h4{
                font-size: 22px;
                margin: 15px 0px;
                color: #3c3e41;
            }
            p{
                margin: 0px;
                font-size: 18px;
                line-height: 29px;
                color: #3c3e41;
            }
            .arro-right{
                margin-top: 30px;
                font-size: 26px;
                opacity: 0;
            }
        }
    }
  }

}
